body {
  font-family: "GlacialIndifferenceRegular", "Helvetica Neue Light", sans-serif;
  font-size: 1.1em;
  text-transform: lowercase;

  background-color: #222;
  color: #bcbcbc;

  margin: 2em 10% 10%;
}

@media (min-width: 1000px) {
  body {
    margin: 2em 20% 20%;
  }
}

p {
  font-size: 1.2em;
}

a {
  color: #dfdfdf;
}
  
a:visited {
  color: #888;
}

a:focus {
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
}

.mid {
  text-align: center;
}

::selection {
  color: #dfdfdf;
  background: #111;
}

hr {
  border: 0;
  text-align: center;
  height: 2em;
}

hr::after {
  content: "* * *";
}

blockquote {
  padding-top: 3em;
}
