body {
  font-family: "GlacialIndifferenceRegular", "Helvetica Neue Light", sans-serif;
  font-size: 1.1em;

  background-color: #222;
  color: #bcbcbc;
}

p {
  /*text-shadow: 0 0 0.3px #ccc;*/
  font-size: 1.2em;
}

@media(min-width:1000px) {
  body {
    margin: 2em 20% 20%;
  }
}

@media(max-width:1000px) {
  body {
    margin: 2em 10% 10%;
  }
}

a {
  color: #dfdfdf;
}

a:visited {
  color: #888;
}

a:focus {
  color: #fff;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
}

.mid {
  text-align: center;
}

::selection {
  color: #dfdfdf;
  background: #111;
}
